
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
font-family: "Kaisei HarunoUmi", serif;
box-sizing: border-box;   
}


.logo img {
position: absolute;
width: 140px;
padding-left: 20px;
padding-top: 20px;
}

h1 {
  font-size: clamp(32px, 4vw, 48px);
  font-family: "Kaisei HarunoUmi", serif;
  color: #EFE7DD;
}

h2 {
  font-size: 20px;
  font-family: "Kaisei HarunoUmi", serif;
  color: #341D13;
  text-align: center;
  padding-top: 40px;
}

h3 {
  font-size: 20px;
  font-family: "Kaisei HarunoUmi", serif;
  color: #341D13;
}

h4 {
font-size: 14px;
font-weight: 780;
text-transform: uppercase;
font-family: "Jaldi-Regular", sans-serif;
color: #B89061;
}

h5 {
font-size: 18px;
font-weight: 780;
font-family: "Jaldi-Regular", sans-serif;
color: #341D13;
}


p {
font-size: 20px;
font-family: "Jaldi-Regular", sans-serif;
color: #341D13;
}

.img-container {
  background-size: cover;
  background-repeat: no-repeat;
  height: 82vh;
  text-align: left;
  background-image:url("../images/BG.jpg");
  background-position: center;
  color: #EFE7DD;
  padding: 30px 40px;
}
  
 h1 {
  position: relative;
  top: 25%;
  max-width: 900px;
  }





/* End of First Home Section - 3 Column Grid */

.secondRow {
  position: relative;
  display: flex;
  justify-content: center;
  background-color:#EFE7DD;
  padding-top: 35px;
  height: 80vh;
}

.Viewallproducts {
  top: 20px;
  text-decoration: underline;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 14px;
}

.single-col {
  float: left;
  width: 30vw;
  padding: 20px;
  min-height: 350px;
  text-align: left;
  margin: 20px;
  border-radius: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.bags{
  position: absolute;
  top: 20%;
  left: 41%;
  scale: 200%;
}

.Duo {
  position: absolute;
  top: 20%;
  left: 75%;
  scale: 200%;
}

.Product-Stories2 {
  position: absolute;
  top: 65%;
  left: 70%;
  font-size: 14px;
  font-weight: 780;
  text-transform: uppercase;
  font-family: "Jaldi-Regular", sans-serif;
  color: #B89061;
}

.Colombia {
  position: absolute;
  top: 70%;
  left: 70%;
  font-size: 18px;
  font-weight: 780;
  font-family: "Jaldi-Regular", sans-serif;
  color: #341D13;
}


.Split-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  position: relative;
  background-color: #EFE7DD;
}

.FindaCafe {
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-family: "Kaisei HarunoUmi", serif;
  color: #EFE7DD;
  font-weight: bold;
  font-size: 40px;
}

.Dis {
  position: absolute;
  top: 79%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-family: "Jaldi-Regular", sans-serif;
  color: #EFE7DD;
  font-size: 17px;
}

.FindaRoastery {
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: "Kaisei HarunoUmi", serif;
  color: #EFE7DD;
  font-weight: bold;
  font-size: 40px;
}

.Visit {
  position: absolute;
  top: 79%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: "Jaldi-Regular", sans-serif;
  color: #EFE7DD;
  font-size: 17px;
}


.thirdRow {
  position: relative;
  height: 80vh;
  background-color:  #EFE7DD;
}

.decades {
  width: 900px;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Kaisei HarunoUmi", serif;
  text-align: center;
  color: #341D13;
  font-weight: bold;
  font-size: 26px;
}


.fourthRow {
  position: relative;
  background-color:#EFE7DD;
  height: 60vh;
}

.Product-Stories {
  position: absolute;
  top: 65%;
  left: 36%;
  font-size: 14px;
  font-weight: 780;
  text-transform: uppercase;
  font-family: "Jaldi-Regular", sans-serif;
  color: #B89061;
}

.FindFlavor {
  position: absolute;
  top: 70%;
  left: 36%;
  font-size: 18px;
  font-weight: 780;
  font-family: "Jaldi-Regular", sans-serif;
  color: #341D13;
}

footer {
  position: relative;
  height: 5vh;
  text-align: center;
  color: white;
  background-color: #27150F;
}

.single-col-stat {
  float: left;
  width: 30vw;
  padding: 20px;
  min-height: 350px;
  text-align: left;
  margin: 20px;
}

.Browse {
  top: 20px;
  text-decoration: underline;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 14px;
}

.fifthRow {
  position: relative;
  background-color:#EFE7DD;
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.collage {
  position: relative;
  left: 15%;
}

.establish {
  position: relative;
  top: 30%;
  padding: 20px;
  margin-right: 15%;
  font-size: 18px;
  font-family: "Jaldi-Regular", sans-serif;
}
.single-col:hover {
  box-shadow: 0px 0px 20px 0px black;
}


.single-col img {
  width: 150px;
  height: auto;
  align-items: center;
  justify-content: center;
  align-self: center;
}






/* Allpress Button Styles */

a.button {
  top: 25%;
    position: relative;
    display: inline-block;
    min-width: 200px;
    padding: 12px 20px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Jaldi";
    background-color: #B89061;
    color: #ffff;
    text-align: center;
    font-weight: 300;
    border-radius: 4px;

      /* transition: background-color 2s ease; */
  transition: all 0.6s cubic-bezier(.24,.96,.57,1.17);
}

a.button2 {
  top: 65%;
  left: 43%;
    position: relative;
    display: inline-block;
    min-width: 200px;
    padding: 12px 20px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Jaldi";
    background-color: #B89061;
    color: #ffff;
    text-align: center;
    font-weight: 300;
    border-radius: 4px;

      /* transition: background-color 2s ease; */
  transition: all 0.6s cubic-bezier(.24,.96,.57,1.17);
}

a.button3 {
  top: 30%;
  left: 2%;
    position: relative;
    display: inline-block;
    min-width: 200px;
    padding: 12px 20px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Jaldi";
    background-color: #B89061;
    color: #ffff;
    text-align: center;
    font-weight: 300;
    border-radius: 4px;

      /* transition: background-color 2s ease; */
  transition: all 0.6s cubic-bezier(.24,.96,.57,1.17);
}

a.button4 {
  top: 30%;
  left: 2%;
    position: relative;
    display: inline-block;
    min-width: 200px;
    padding: 12px 20px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Jaldi";
    background-color: #B89061;
    color: #ffff;
    text-align: center;
    font-weight: 300;
    border-radius: 4px;

      /* transition: background-color 2s ease; */
  transition: all 0.6s cubic-bezier(.24,.96,.57,1.17);
}


.button:hover {
  color:lightgray;
  text-decoration: underline;
}


 /* Our Story Page */

 body{
  background-color: #F9F3EE;
 }

.firstRow {
  position: relative;
  background-color:#EFE7DD;
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.brew {
  position: relative;
  top: 63%;
  left: 19%;
  scale: 650%;

}

.NEWS {
  position: absolute;
  top: 39%;
  left: 60%;
  font-size: 14px;
  font-weight: 780;
  text-transform: uppercase;
  font-family: "Jaldi-Regular", sans-serif;
  color: #B89061;
}

.Who-we-are {
  position: relative;
  top: 46%;
  left: 20%;
  padding: 0;
  margin-right: 35%;
  font-family: "Kaisei HarunoUmi", serif;
  text-align: left;
  color: #341D13;
  font-weight: bold;
  font-size:40px;
}

.DesignStory {
  position: relative;
  top: 56%;
  left: 20%;
  text-decoration: underline;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 14px;
}

.ProductStories {
  position: relative;
  top: 53.2%;
  left: 33%;
  text-decoration: underline;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 14px;
}

.secondPageRow {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #F9F3EE;
  padding-top: 35px;
  height: 80vh;
}

.WeRoast {
  position: absolute;
  width: 800px;
  margin-right: 20%;
  margin-left: 23%;
  top: 30%;
  font-family: "Kaisei HarunoUmi", serif;
  text-align: left;
  color: #341D13;
  font-size: 26px;
}


.Relationships {
  position: relative;
  text-align: left;
  top: 45%;
  margin-right: 26%;
  margin-left: 25%;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 20px;
  color: #341D13;   
 }

 .thirdRow2 {
  position: relative;
  height: 60vh;
  background-color:  #F9F3EE;
}


.secondRow2 {
  position: relative;
  display: flex;
  justify-content: center;
  background-color:#F9F3EE;
  padding-top: 35px;
  height: 80vh;
}


 .Split-images2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  position: relative;
  margin: -4%;
  scale: 60%;
  background-color: #F9F3EE;
}


.WeExist {
  position: relative;
  text-align: left;
  top: 7%;
  margin-right: 26%;
  margin-left: 30%;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 20px;
  color: #341D13;   
 }


 .WeSource { 
  padding-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
  font-family: "Jaldi-Regular", sans-serif;
  text-align: left;
  color: #341D13;
  font-size: 32px;
  font-weight: bold;
 }

 
.FromBeing {
  position: relative;
  text-align: left;
  top: 7%;
  margin-right: 26%;
  margin-left: 30%;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 20px;
  color: #341D13;   
 }

 .Shirt {
    position: absolute;
    top: 20%;
    left: 7%;
    scale: 200%;
 }

 .More-Articles {
  width: 98vw;
  top: 0;
  left: 2%;
  text-indent: 14%;
  min-height: 5px;
  overflow: hidden;
  text-align: left;
  background-color:  #EFE7DD;
 }

 .More-Articles2 {
  width: 98vw;
  top: 2%;
  left: 2%;
  text-indent: 2%;
  min-height: 5px;
  overflow: hidden;
  text-align: left;
  background-color:  #EFE7DD;
 }

 .NEWS_1 {
  position: absolute;
  top: 65%;
  left: 2%;
  font-size: 14px;
  font-weight: 780;
  text-transform: uppercase;
  font-family: "Jaldi-Regular", sans-serif;
  color: #B89061;
}

.X-BOUND {
  position: absolute;
  top: 70%;
  left: 2%;
  font-size: 18px;
  font-weight: 780;
  font-family: "Jaldi-Regular", sans-serif;
  color: #341D13;
}

.NEWS_2 {
  position: absolute;
  top: 65%;
  left: 36%;
  font-size: 14px;
  font-weight: 780;
  text-transform: uppercase;
  font-family: "Jaldi-Regular", sans-serif;
  color: #B89061;
 }

 .fourthRow2 {
  position: relative;
  background-color:#EFE7DD;
  height: 60vh;
}

.Teal {
  position: absolute;
  top: 20%;
  left: 41%;
  scale: 200%;
}

.Hoka {
  position: absolute;
  top: 70%;
  left: 36%;
  font-size: 18px;
  font-weight: 780;
  font-family: "Jaldi-Regular", sans-serif;
  color: #341D13;
}

.fifthRow2 {
  position: relative;
  background-color:#EFE7DD;
  display: grid;
  height: 60vh;
  grid-template-columns: 1fr 2fr;
}

.Sky {
  position: absolute;
  scale: 50%;
  top: 0;
}


.establish2 {
  position: relative;
  top: 42%;
  left: 10%;
  margin-right: 15%;
  font-size: 18px;
  font-weight: 780;
  font-family: "Jaldi-Regular", sans-serif;
  color: #341D13;
}

.DesignStory_2 {
  position: absolute;
  top: 55%;
  left: 40%;
  text-decoration: underline;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 14px;
}

.ProductStories_2 {
  position: absolute;
  top: 55%;
  left: 47%;
  text-decoration: underline;
  font-family: "Jaldi-Regular", sans-serif;
  font-size: 14px;
}


    /* Desktop Layout */




   /*
   nav {
    background-color:#f49ba3;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
   }
    

   nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
   }

   nav li {
    margin: 0 0.5rem;
   }

   nav a:link, a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 1rem;
    display: block;
    transition: ease-in-out 250ms;
   }

   */